html, body{
  height:100% !important;
}

li a {
  color: green;
}

body {
  background: white url("images/background.png") no-repeat right bottom;
}

.alert{
  background-color: #F8D7DA;
  color: #7A1C2F;
}
